.loading-text
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  color: var(--table-text-secondary-color)
  font-size: 30px


.loading-animation {
    display: flex
    animation: loading-spin 1.4s linear infinite;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: loading-spin;
}

@keyframes loading-spin
  0%{ transform:rotate(0deg) }
  to{ transform:rotate(1turn) }
