.rapid-tag-item {
  background-color: var(--ui-gray-dark);
  color: var(--text-secondary-color);
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  border-radius: 25px;
  height: 25px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0 0.3rem 0.5rem;
}

.rapid-tag-item > .button {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rapid-special-group {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.rapid-special-group > .rapid-group-button {
  background-color: var(--ui-border-color-active);
  cursor: pointer;
  font-weight: 500;
  margin: 0 10px;
  padding: 0 10px;
}
